<!DOCTYPE html>
<html lang="en">
<head>
	{% block meta %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock %}


	{% block title %}
	<title>campusQA</title>
	{% endblock %}

	{% block styles %}
	<link href="/esddse/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/esddse/static/css/main.css" rel="stylesheet" type="text/css">
    <link href="/esddse/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	{% endblock %}

	{% block scripts %}
	<script src="/esddse/static/js/jquery-3.2.1.js"></script>
	<script src="/esddse/static/js/bootstrap.js"></script>
    <script src="/esddse/static/js/chart.js"></script>
    {% endblock %}

</head>

<body>
	{% block content %}
	{% endblock %}
</body>

</html>